.asideRight__chat__output {
  display: flex;
  flex-direction: column-reverse;
  height: 210px;
  overflow: scroll;
  width: 325px;
  word-wrap: break-word;
  overflow-x: hidden;
}

.asideRight__chat__output p {
  margin: 0.5rem;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  color: red;
}
